h1{
	background-color: darkblue;
	color: white;
	text-align: center;
	font-style: italic;
	text-decoration: underline;
}
p:nth-child(odd)
{
	background-color: grey;
}
p:nth-child(even):hover{
	background-color: yellow;
	color: red;
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
	
}
p:nth-child(odd):hover{
	background-color: green;
	font-size: 16px;
	font-style: italic;
	color: yellow;
	font-weight: bolder;
	

}
p:nth-child(even):hover{
	background-color: yellow;
	color: red;
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
	

}
p{
	text-align: center;
	width: 400px;
}